:root {
  --blue-color: #0c1844;
  --salmon-red: #ff6969;
  --valo-red: #c80036;
  --white-color: #fff5e1;

  --font-family1: "Saira Condensed";
  --font-family2: "Noto Sans", sans-serif;

  --box-shadow: 0px 4px 4px #00000040;
}
