@import "../../../variables/variable.css";

.main-cont {
  background-image: url("../../../assets/backgrounds/_main_.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  height: 90vh;
  width: 100vw;
  padding: 68px 142px;
  position: relative;
}
.main-image {
  height: 600px;
  margin-bottom: -8px;
  margin-left: -4px;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  width: 780px;
  border: 5px solid var(--white-color);
}

.main-title {
  color: #c5b174 !important;
  font-family: "Saira Condensed" !important;
  font-size: 4.1rem !important;
  font-weight: 700 !important;
  letter-spacing: 0;
  line-height: 110% !important;
  word-wrap: break-word !important;
  position: relative;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-shadow: 0px 4px 4px #000000;
}

.main-desc {
  align-self: stretch;
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: 350;
  font-family: var(--font-family2) !important;
  letter-spacing: 0;
  line-height: 170% !important;
  margin: 0px 0px 28px;
  position: relative;
  word-wrap: break-word !important;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-shadow: 0px 4px 4px #000000;
}

.main-button {
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */

  background-color: var(--valo-red) !important;
  border-radius: 5px !important;
  box-shadow: 0px 0px 4px #000000;

  width: 200px;

  color: #ffffff !important;
  font-family: var(--font-family2) !important;
  font-size: 1.5rem !important;
  font-weight: 700;
  line-height: normal;

  position: relative;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-align: center;
}

.main-button:hover {
  background-color: var(--valo-red) !important;
  color: black;
}

.main-author-date {
  color: white;
  display: flex;

  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.main-author {
  font-size: 1rem;
  font-family: var(--font-family2) !important;
  font-weight: 300;
  letter-spacing: 0.5px;
  margin: 0;
}

.main-date {
  font-size: 1rem;
  font-family: var(--font-family2) !important;
  font-weight: 300;
  letter-spacing: 0.5px;
  margin: 0;
}

.main-divider {
  border-top: 2px solid var(--valo-red) !important;
  margin-bottom: 20px !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
}
